Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea/.idea.Candy/.idea/.gitignore
.idea/.idea.Candy/.idea/.name
.idea/.idea.Candy/.idea/encodings.xml
.idea/.idea.Candy/.idea/indexLayout.xml
.idea/.idea.Candy/.idea/vcs.xml
/Plugins/*
